body
  font-family verdana
  margin 50px 20%
form
  margin-bottom 20px
  .item
    margin-bottom 10px
    label
      display block
      margin-bottom 5px
      color #666
      font-size 11px
    input[type="text"]
      display block
      margin 0px
      padding 5px
      width 300px
      
table
  border-collapse: collapse
tr
td
  border 1px solid #eee
  padding: 5px
  a.delete
    color red
